<template name="home">
	<div>
		<h1>Hello fucking world</h1>
		<input id="search" type="text" placeholder="Buscar audio..." name=""><button>Buscar</button>
		<div class="results">
			
		</div>
	</div>
	 <!--<audio controls>
	  <source src="http://cr02.epimg.net/alacarta/audios/2017/7/19/caracol_radio_elalargue_20170719_210000_220000.mp3" type="audio/ogg">
	  <source src="http://cr02.epimg.net/alacarta/audios/2017/7/19/caracol_radio_elalargue_20170719_210000_220000.mp3" type="audio/mpeg">
	  <source src="http://cr02.epimg.net/alacarta/audios/2017/7/19/caracol_radio_elalargue_20170719_210000_220000.mp3" type="audio/mp3">
	  Your browser does not support the audio tag.
	</audio> -->
</template>